{% extends "zka/base.html" %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block warning %}

<!-- <div class="alert alert-warning" role="alert" style="width: 40%; margin: auto;">
    캐릭터 이름을 입력해주세요!
</div>
<p></p> -->

<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 40%; margin: auto;">
    {{ warning_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<p></p>

{% endblock warning %}